{% extends 'base.html' %}
{% block title %} Страница создания группы{% endblock %}

{% block content %}
<h1>Страница создания группы</h1>
  <div class="card-body ">
          <form method="post" action="{% url 'group:create_group' %}">
            {% csrf_token %}
        {#          <input class="form-control form-control-lg" type="text" placeholder="Login" aria-label=".form-control-lg example">#}
        {#          <input class="form-control form-control-lg mt-3" type="text" placeholder="Password" aria-label=".form-control-lg example">#}
            {{ form.as_p }}
          <div class="d-grid gap-2 col-6 mx-auto mt-5">
            <button class="btn btn-outline-primary shadow" type="submit">Создать группу</button>
          </div>

         </form>
  </div>
{% endblock %}