{% extends 'base.html' %}
{% block title %} Привет {% endblock %}

{% block content %}
{#Logo#}
  <div class="container text-center">
    <div class="mt-1 shadow p-3 mb-4 px-4 bg-white rounded justify-content-center">
      <div class="row">
        <div class="col">
          <div class="card rounded text-center" style="width: auto">
              <img src="static/img/sportchas.jpg" class="card-img-top " alt="...">
              <div class="card-body">
                <figure class="text-center">
                  <blockquote class="blockquote">
                    <p>Становись сегодня лучше чем был вчера!!!</p>
                  </blockquote>
                  <figcaption class="blockquote-footer">
                    Твой тренер 😉 <cite title="Source Title"></cite>
                  </figcaption>
                </figure>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{#Bottons#}
  {% if not user.is_authenticated %}
<form action="{% url 'users:login' %}">
  <div class="d-grid gap-2 col-6 mx-auto mt-3 mb-2">
    <button class="btn btn-outline-primary shadow" type="submit">Войти</button>
  </div>
</form>

<form action="{% url 'users:signup' %}">
  <div class="d-grid gap-2 col-6 mx-auto mt-4 mb-5">
    <button class="btn btn-outline-danger shadow" type="submit">Регистрация</button>
  </div>
</form>
  {% endif %}
{% endblock %}