{% extends 'base.html' %}
{% block title %} Авторизация {% endblock %}
{% block content %}

{#Форма ввода Ф.И.О.#}

<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5 shadow" style="width: auto;">
        <div class="card-body ">
          <form method="post" action="{% url 'users:login' %}">
            {% csrf_token %}
        {#          <input class="form-control form-control-lg" type="text" placeholder="Login" aria-label=".form-control-lg example">#}
        {#          <input class="form-control form-control-lg mt-3" type="text" placeholder="Password" aria-label=".form-control-lg example">#}
            {{ form.as_p }}
          <div class="d-grid gap-2 col-6 mx-auto mt-5">
            <button class="btn btn-outline-primary shadow" type="submit">Войти</button>
          </div>

         </form>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
