{% extends 'base.html' %}
{% block title %} Регистрация{% endblock %}

{% block content %}
{#Выбор(спортсмен, тренер)#}
<div class="container text-center">
  <div class="d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5 shadow p-1" style="width: auto;">
        <div class="card-body">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Тренер
                </label>
              </div>
                <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                <label class="form-check-label" for="flexRadioDefault2">
                  Спортсмен
                </label>
                </div>
        </div>
      </div>
    </div>
  </div>
</div>



{#Форма ввода Ф.И.О.#}
<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5 shadow" style="width: auto;">
        <div class="card-body ">
          <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
{#            <input class="form-control form-control-lg" type="text" placeholder="Фамилия" aria-label=".form-control-lg example">#}
{#            <input class="form-control form-control-lg mt-3" type="text" placeholder="Имя" aria-label=".form-control-lg example">#}
{#            <input class="form-control form-control-lg mt-3" type="text" placeholder="Login" aria-label=".form-control-lg example">#}
{#            <input class="form-control form-control-lg mt-3" type="text" placeholder="Password" aria-label=".form-control-lg example">#}
{#            <input class="form-control form-control-lg mt-3" type="text" placeholder="e-mail" aria-label=".form-control-lg example">#}
            {{ form.as_p }}
                <div class="d-grid gap-2 col-6 mx-auto mt-5 mb-5">
                    <button class="btn btn-outline-danger shadow" type="submit">Зарегистрироваться</button>
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}